#weekly-stats {
    width: 70rem;
    overflow: hidden;
    animation: linear 2s ease-in-out 0.5s infinite normal forwards;
}
li {
    animation: linear;
}
.espn-container {
    display: flex;
    border: black 1px solid;
    background-color: #232323;
    width: 70rem;
}
footer {
    width: 25rem;
}
.border-right {
    border-right: 1px solid white;
}
body {
    background: gray;
    color: white;
}
.current-teams {
    padding-right: 4rem;
}

.espn_logo {
    height: 3.2rem;
}

.e_logo {
    height: 3.2rem;
    border-radius: 0.4rem;
}

div.bg-fade {
    background-image: linear-gradient(to right, #232323, brown);
}

@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(100%, 0);
    }
}

.ticker {
    display: block;
    width: 14rem;
    white-space: nowrap;
    overflow: hidden;
}

footer span {
    display: block;
    /* padding-left: 100%; */
    animation: scroll 7s infinite linear;
}
